# Install sentence T5

In [ ]:
# Install T5 sentence encoders from TensorFlow Hub
# https://tfhub.dev/google/sentence-t5/st5-large/1
# Sentence encoders for English built on top of T5 models.

!pip install tensorflow_text

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting tensorflow_text
  Downloading tensorflow_text-2.10.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (5.9 MB)
     |████████████████████████████████| 5.9 MB 6.9 MB/s
Collecting tensorflow<2.11,>=2.10.0
  Downloading tensorflow-2.10.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (578.0 MB)
     |████████████████████████████████| 578.0 MB 16 kB/s
Requirement already satisfied: tensorflow-hub>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow_text) (0.12.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow_text) (1.6.3)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow_text) (1.14.1)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow_text) (0.2.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow_text) (4.1.1)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow_text) (3.3.0)
Collecting tensorflow-estimator<2.11,>=2.10.0
  Downloading tensorflow_estimator-2.10.0-py2.py3-none-any.whl (438 kB)
     |████████████████████████████████| 438 kB 50.7 MB/s
Requirement already satisfied: protobuf<3.20,>=3.9.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow_text) (3.17.3)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow_text) (1.2.0)
Requirement already satisfied: keras-preprocessing>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow_text) (1.1.2)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow_text) (3.1.0)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow_text) (14.0.6)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow_text) (1.21.6)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow_text) (57.4.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow_text) (21.3)
Requirement already satisfied: flatbuffers>=2.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow_text) (22.9.24)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow_text) (2.0.1)
Collecting keras<2.11,>=2.10.0
  Downloading keras-2.10.0-py2.py3-none-any.whl (1.7 MB)
     |████████████████████████████████| 1.7 MB 44.7 MB/s
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow_text) (1.49.1)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow_text) (1.15.0)
Collecting tensorboard<2.11,>=2.10
  Downloading tensorboard-2.10.1-py3-none-any.whl (5.9 MB)
     |████████████████████████████████| 5.9 MB 55.4 MB/s
Collecting gast<=0.4.0,>=0.2.1
  Downloading gast-0.4.0-py3-none-any.whl (9.8 kB)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow_text) (0.27.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.7/dist-packages (from astunparse>=1.6.0->tensorflow<2.11,>=2.10.0->tensorflow_text) (0.37.1)
Requirement already satisfied: cached-property in /usr/local/lib/python3.7/dist-packages (from h5py>=2.9.0->tensorflow<2.11,>=2.10.0->tensorflow_text) (1.5.2)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow_text) (3.4.1)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow_text) (2.23.0)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow_text) (1.8.1)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow_text) (0.6.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow_text) (0.4.6)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow_text) (1.35.0)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow_text) (1.0.1)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow_text) (4.9)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow_text) (4.2.4)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow_text) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow_text) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow_text) (5.0.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow_text) (3.8.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow_text) (0.4.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow_text) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow_text) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow_text) (2022.9.24)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow_text) (2.10)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow_text) (3.2.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->tensorflow<2.11,>=2.10.0->tensorflow_text) (3.0.9)
Installing collected packages: tensorflow-estimator, tensorboard, keras, gast, tensorflow, tensorflow-text
  Attempting uninstall: tensorflow-estimator
    Found existing installation: tensorflow-estimator 2.8.0
    Uninstalling tensorflow-estimator-2.8.0:
      Successfully uninstalled tensorflow-estimator-2.8.0
  Attempting uninstall: tensorboard
    Found existing installation: tensorboard 2.8.0
    Uninstalling tensorboard-2.8.0:
      Successfully uninstalled tensorboard-2.8.0
  Attempting uninstall: keras
    Found existing installation: keras 2.8.0
    Uninstalling keras-2.8.0:
      Successfully uninstalled keras-2.8.0
  Attempting uninstall: gast
    Found existing installation: gast 0.5.3
    Uninstalling gast-0.5.3:
      Successfully uninstalled gast-0.5.3
  Attempting uninstall: tensorflow
    Found existing installation: tensorflow 2.8.2+zzzcolab20220929150707
    Uninstalling tensorflow-2.8.2+zzzcolab20220929150707:
      Successfully uninstalled tensorflow-2.8.2+zzzcolab20220929150707
Successfully installed gast-0.4.0 keras-2.10.0 tensorboard-2.10.1 tensorflow-2.10.0 tensorflow-estimator-2.10.0 tensorflow-text-2.10.0

In [ ]:
import tensorflow_hub as hub
import tensorflow as tf
import tensorflow_text as text  # Registers the ops.

english_sentences = tf.constant(["dog", "Puppies are nice.", "I enjoy taking long walks along the beach with my dog."])

hub_url = "https://tfhub.dev/google/sentence-t5/st5-base/1" # the largest model we can do using cpu
encoder = hub.KerasLayer(hub_url)

english_embeds = encoder(english_sentences)

print (english_embeds)

WARNING:tensorflow:Please fix your imports. Module tensorflow.python.training.tracking.data_structures has been moved to tensorflow.python.trackable.data_structures. The old module will be deleted in version 2.11.
WARNING:absl:Importing a function (__inference_<lambda>_9720) with ops with unsaved custom gradients. Will likely fail if a gradient is requested.
WARNING:absl:Importing a function (__inference_<lambda>_3354) with ops with unsaved custom gradients. Will likely fail if a gradient is requested.
WARNING:absl:Importing a function (__inference_<lambda>_6722) with ops with unsaved custom gradients. Will likely fail if a gradient is requested.

[<tf.Tensor: shape=(3, 768), dtype=float32, numpy=
array([[-0.02508604, -0.0184273 ,  0.01731343, ..., -0.03809748,
        -0.06854577,  0.00776054],
       [-0.01633325, -0.01912969,  0.0104982 , ..., -0.00351017,
        -0.02485205, -0.02179607],
       [-0.01609583, -0.00119072,  0.01182855, ...,  0.02119382,
        -0.03943526,  0.01313556]], dtype=float32)>]

In [ ]:
# math in python

!pip install scipy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (1.7.3)
Requirement already satisfied: numpy<1.23.0,>=1.16.5 in /usr/local/lib/python3.7/dist-packages (from scipy) (1.21.6)

In [ ]:
import scipy

# Prep dataframe

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
drive_data_path = '/Gradient_shuffle/'
result = '/T5simul/'

In [ ]:
# read in files
# add new empty columns
baseline = pd.read_csv(drive_data_path + 'simulation_HV_baseline_vb_response_deid_v3.csv', index_col=0) 
baseline['t5_foc'] = ''
baseline['t5_soc'] = ''
baseline['t5_sent_emb'] = ''
baseline.head()

,content,n_words,t5_foc,t5_soc,t5_sent_emb
grid,,,,,
10455,"I'm a young man , an en an en- an engineer by ...",421,,,
11689,Sure . I'm thirty three years old . My name is...,159,,,
12376,Alright . um I live in not especially cool Spr...,468,,,
12630,um So I'm currently twenty-nine . I was born a...,966,,,
13493,Mhm . I'm a thirty five year old man who uh um...,134,,,

In [ ]:
incoh10 = pd.read_csv(drive_data_path + 'simulation_HV_incoh_vb_response_deid_10v3.csv', index_col=0) 
incoh10['t5_foc'] = ''
incoh10['t5_soc'] = ''
incoh10['t5_sent_emb'] = ''
incoh10.head()

,content,n_words,t5_foc,t5_soc,t5_sent_emb
grid,,,,,
10455,"I'm a young man , an en an en- an engineer by ...",421,,,
11689,Sure . I'm thirty three years good . My name i...,159,,,
12376,Alright . um I live in not especially cool Spr...,468,,,
12630,um So I'm currently twenty-nine . I was born a...,966,,,
13493,Mhm . I'm a thirty five year old man who uh um...,134,,,

In [ ]:
incoh20 = pd.read_csv(drive_data_path + 'simulation_HV_incoh_vb_response_deid_20v3.csv', index_col=0) 
incoh20['t5_foc'] = ''
incoh20['t5_soc'] = ''
incoh20['t5_sent_emb'] = ''
incoh20.head()

,content,n_words,t5_foc,t5_soc,t5_sent_emb
grid,,,,,
10455,"I'm a young man , an en an en- an things by tr...",421,,,
11689,Sure . I'm thirty three years medical . My nam...,159,,,
12376,Alright . um I live in not especially lazy Spr...,468,,,
12630,um So I'm currently twenty-nine . I was born a...,966,,,
13493,Mhm . I'm a thirty five year old man who uh um...,134,,,

In [ ]:
incoh50 = pd.read_csv(drive_data_path + 'simulation_HV_incoh_vb_response_deid_50v3.csv', index_col=0) 
incoh50['t5_foc'] = ''
incoh50['t5_soc'] = ''
incoh50['t5_sent_emb'] = ''
incoh50.head()

,content,n_words,t5_foc,t5_soc,t5_sent_emb
grid,,,,,
10455,"I'm a good year , an en an en- an responsibili...",421,,,
11689,Sure . I'm thirty three years anxious . My nam...,159,,,
12376,Alright . um something live in not especially ...,468,,,
12630,um So I'm currently twenty-nine . I was born a...,966,,,
13493,Mhm . I'm a thirty five hospital old man anyth...,134,,,

In [ ]:
ineff10 = pd.read_csv(drive_data_path + 'simulation_HV_ineff_vb_response_deid_10v3.csv', index_col=0) 
ineff10['t5_foc'] = ''
ineff10['t5_soc'] = ''
ineff10['t5_sent_emb'] = ''
ineff10.head()

,content,n_words,t5_foc,t5_soc,t5_sent_emb
grid,,,,,
10455,"I'm a young man , an en an en- an engineer by ...",421,,,
11689,Sure . I'm thirty three years old . My name is...,159,,,
12376,Alright . um I live in not especially cool Spr...,468,,,
12630,um So I was born and raised in South Washingto...,966,,,
13493,Mhm . I'm a thirty five year old man who uh um...,134,,,

In [ ]:
ineff20 = pd.read_csv(drive_data_path + 'simulation_HV_ineff_vb_response_deid_20v3.csv', index_col=0) 
ineff20['t5_foc'] = ''
ineff20['t5_soc'] = ''
ineff20['t5_sent_emb'] = ''
ineff20.head()

,content,n_words,t5_foc,t5_soc,t5_sent_emb
grid,,,,,
10455,"I'm a young man , an en an en- an engineer by ...",421,,,
11689,Sure . I'm thirty three years old . My name is...,159,,,
12376,Alright . um I live in not especially cool Spr...,468,,,
12630,um So I was born and raised in South Washingto...,966,,,
13493,Mhm . I'm a thirty five year old man who uh um...,134,,,

In [ ]:
ineff50 = pd.read_csv(drive_data_path + 'simulation_HV_ineff_vb_response_deid_50v3.csv', index_col=0) 
ineff50['t5_foc'] = ''
ineff50['t5_soc'] = ''
ineff50['t5_sent_emb'] = ''
ineff50.head()

,content,n_words,t5_foc,t5_soc,t5_sent_emb
grid,,,,,
10455,"I'm a young man , an en an en- an engineer by ...",421,,,
11689,We have been using that opportunity to do more...,159,,,
12376,Alright . um I live in not especially cool Spr...,468,,,
12630,"My is things are fantastic . No , I mean My uh...",966,,,
13493,Mhm . I still get to play . And my stock inves...,134,,,

# FOC SOC

In [ ]:
# define a function
# get contextualized sentence embeddings
# using t5 sentence encoder
def get_sent_emb(s):
  result = encoder(s)[0].numpy()
  return result

In [ ]:
# define a function
# get cosine similarity
def get_cos_sent(s1, s2):
  result = 1-scipy.spatial.distance.cosine(s1, s2)
  return result

## baseline

In [ ]:
# apply the embedding function to the data frame
baseline['t5_sent_emb'] = baseline['content'].apply(lambda x: get_sent_emb(x.split('.')))

# loop over each response
# get cosine similarity of sentence pairs, either adjacent or with one intervening
# through applying the similarity function to the data frame
for i in baseline.index:
    for idx, sent in enumerate(baseline['t5_sent_emb'][i]):
        temp_foc = []
        temp_soc = []
        try:
            temp_foc.append(get_cos_sent(sent, baseline['t5_sent_emb'][i][idx+1]))
            baseline['t5_foc'][i] = np.average(temp_foc) # use np.nanmean()
            # add more stats

            temp_soc.append(get_cos_sent(sent, baseline['t5_sent_emb'][i][idx+2]))
            baseline['t5_soc'][i] = np.average(temp_soc) # use np.nanmean()
            # add more stats

        except IndexError:
            continue

baseline.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

,content,n_words,t5_foc,t5_soc,t5_sent_emb
grid,,,,,
10455,"I'm a young man , an en an en- an engineer by ...",421,0.736272,0.732578,"[[-0.01830085, -0.033166442, -0.012217038, 0.0..."
11689,Sure . I'm thirty three years old . My name is...,159,0.832853,0.782047,"[[-0.04300876, -0.028265461, -0.006834972, -0...."
12376,Alright . um I live in not especially cool Spr...,468,0.743505,0.780793,"[[-0.052043304, -0.0024082442, 0.02292847, -0...."
12630,um So I'm currently twenty-nine . I was born a...,966,0.750892,0.756313,"[[-0.034817893, -0.010175471, -0.0029567573, 0..."
13493,Mhm . I'm a thirty five year old man who uh um...,134,0.81402,0.737225,"[[-0.029653292, -0.024546375, 0.009476498, 0.0..."

In [ ]:
baseline.to_csv(result + 'simulation_HV_baseline_vb_response_deid_v3_t5sent.csv')

## incoh

In [ ]:
incoh10['t5_sent_emb'] = incoh10['content'].apply(lambda x: get_sent_emb(x.split('.')))

for i in incoh10.index:
    for idx, sent in enumerate(incoh10['t5_sent_emb'][i]):
        temp_foc = []
        temp_soc = []
        try:
            temp_foc.append(get_cos_sent(sent, incoh10['t5_sent_emb'][i][idx+1]))
            incoh10['t5_foc'][i] = np.average(temp_foc)

            temp_soc.append(get_cos_sent(sent, incoh10['t5_sent_emb'][i][idx+2]))
            incoh10['t5_soc'][i] = np.average(temp_soc)
        except IndexError:
            continue

incoh10.to_csv(result + 'simulation_HV_incoh_vb_response_deid_10v3_t5sent.csv')
incoh10.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

,content,n_words,t5_foc,t5_soc,t5_sent_emb
grid,,,,,
10455,"I'm a young man , an en an en- an engineer by ...",421,0.736272,0.729829,"[[-0.01830085, -0.033166442, -0.012217038, 0.0..."
11689,Sure . I'm thirty three years good . My name i...,159,0.832853,0.782283,"[[-0.04300876, -0.028265461, -0.006834972, -0...."
12376,Alright . um I live in not especially cool Spr...,468,0.743505,0.780793,"[[-0.052043304, -0.0024082442, 0.02292847, -0...."
12630,um So I'm currently twenty-nine . I was born a...,966,0.761006,0.756313,"[[-0.034817893, -0.010175471, -0.0029567573, 0..."
13493,Mhm . I'm a thirty five year old man who uh um...,134,0.781169,0.737225,"[[-0.029653292, -0.024546375, 0.009476498, 0.0..."

In [ ]:
incoh20['t5_sent_emb'] = incoh20['content'].apply(lambda x: get_sent_emb(x.split('.')))

for i in incoh20.index:
    for idx, sent in enumerate(incoh20['t5_sent_emb'][i]):
        temp_foc = []
        temp_soc = []
        try:
            temp_foc.append(get_cos_sent(sent, incoh20['t5_sent_emb'][i][idx+1]))
            incoh20['t5_foc'][i] = np.average(temp_foc)

            temp_soc.append(get_cos_sent(sent, incoh20['t5_sent_emb'][i][idx+2]))
            incoh20['t5_soc'][i] = np.average(temp_soc)
        except IndexError:
            continue

incoh20.to_csv(result + 'simulation_HV_incoh_vb_response_deid_20v3_t5sent.csv')
incoh20.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

,content,n_words,t5_foc,t5_soc,t5_sent_emb
grid,,,,,
10455,"I'm a young man , an en an en- an things by tr...",421,0.753163,0.729829,"[[0.00016305712, -0.025390225, 0.002651751, 0...."
11689,Sure . I'm thirty three years medical . My nam...,159,0.832853,0.782283,"[[-0.04300876, -0.028265461, -0.006834972, -0...."
12376,Alright . um I live in not especially lazy Spr...,468,0.744747,0.780793,"[[-0.052043304, -0.0024082442, 0.02292847, -0...."
12630,um So I'm currently twenty-nine . I was born a...,966,0.757957,0.754334,"[[-0.034817893, -0.010175471, -0.0029567573, 0..."
13493,Mhm . I'm a thirty five year old man who uh um...,134,0.781169,0.74423,"[[-0.029653292, -0.024546375, 0.009476498, 0.0..."

In [ ]:
incoh50['t5_sent_emb'] = incoh50['content'].apply(lambda x: get_sent_emb(x.split('.')))

for i in incoh50.index:
    for idx, sent in enumerate(incoh50['t5_sent_emb'][i]):
        temp_foc = []
        temp_soc = []
        try:
            temp_foc.append(get_cos_sent(sent, incoh50['t5_sent_emb'][i][idx+1]))
            incoh50['t5_foc'][i] = np.average(temp_foc)

            temp_soc.append(get_cos_sent(sent, incoh50['t5_sent_emb'][i][idx+2]))
            incoh50['t5_soc'][i] = np.average(temp_soc)
        except IndexError:
            continue

incoh50.to_csv(result + 'simulation_HV_incoh_vb_response_deid_50v3_t5sent.csv')
incoh50.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

,content,n_words,t5_foc,t5_soc,t5_sent_emb
grid,,,,,
10455,"I'm a good year , an en an en- an responsibili...",421,0.753597,0.72919,"[[-0.008743928, -0.0143953385, -0.0064853826, ..."
11689,Sure . I'm thirty three years anxious . My nam...,159,0.832853,0.782283,"[[-0.04300876, -0.028265461, -0.006834972, -0...."
12376,Alright . um something live in not especially ...,468,0.729897,0.780793,"[[-0.052043304, -0.0024082442, 0.02292847, -0...."
12630,um So I'm currently twenty-nine . I was born a...,966,0.768489,0.762251,"[[-0.034817893, -0.010175471, -0.0029567573, 0..."
13493,Mhm . I'm a thirty five hospital old man anyth...,134,0.781169,0.767277,"[[-0.029653292, -0.024546375, 0.009476498, 0.0..."

## ineff

In [ ]:
ineff10['t5_sent_emb'] = ineff10['content'].apply(lambda x: get_sent_emb(x.split('.')))

for i in ineff10.index:
    for idx, sent in enumerate(ineff10['t5_sent_emb'][i]):
        temp_foc = []
        temp_soc = []
        try:
            temp_foc.append(get_cos_sent(sent, ineff10['t5_sent_emb'][i][idx+1]))
            ineff10['t5_foc'][i] = np.average(temp_foc)

            temp_soc.append(get_cos_sent(sent, ineff10['t5_sent_emb'][i][idx+2]))
            ineff10['t5_soc'][i] = np.average(temp_soc)
        except IndexError:
            continue

ineff10.to_csv(result + 'simulation_HV_ineff_vb_response_deid_10v3_t5sent.csv')
ineff10.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

,content,n_words,t5_foc,t5_soc,t5_sent_emb
grid,,,,,
10455,"I'm a young man , an en an en- an engineer by ...",421,0.736272,0.755355,"[[-0.01830085, -0.033166442, -0.012217038, 0.0..."
11689,Sure . I'm thirty three years old . My name is...,159,0.707475,0.71262,"[[-0.043008752, -0.028265452, -0.006834972, -0..."
12376,Alright . um I live in not especially cool Spr...,468,0.743505,0.780793,"[[-0.052043304, -0.0024082442, 0.02292847, -0...."
12630,um So I was born and raised in South Washingto...,966,0.779373,0.773426,"[[0.0024098516, -0.009969325, 0.000881797, 0.0..."
13493,Mhm . I'm a thirty five year old man who uh um...,134,0.740772,0.737225,"[[-0.029653292, -0.024546375, 0.009476498, 0.0..."

In [ ]:
ineff20['t5_sent_emb'] = ineff20['content'].apply(lambda x: get_sent_emb(x.split('.')))

for i in ineff20.index:
    for idx, sent in enumerate(ineff20['t5_sent_emb'][i]):
        temp_foc = []
        temp_soc = []
        try:
            temp_foc.append(get_cos_sent(sent, ineff20['t5_sent_emb'][i][idx+1]))
            ineff20['t5_foc'][i] = np.average(temp_foc)

            temp_soc.append(get_cos_sent(sent, ineff20['t5_sent_emb'][i][idx+2]))
            ineff20['t5_soc'][i] = np.average(temp_soc)
        except IndexError:
            continue

ineff20.to_csv(result + 'simulation_HV_ineff_vb_response_deid_20v3_t5sent.csv')
ineff20.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

,content,n_words,t5_foc,t5_soc,t5_sent_emb
grid,,,,,
10455,"I'm a young man , an en an en- an engineer by ...",421,0.736272,0.74271,"[[-0.01830085, -0.033166442, -0.012217038, 0.0..."
11689,Sure . I'm thirty three years old . My name is...,159,0.809364,0.748379,"[[-0.043008752, -0.028265452, -0.006834972, -0..."
12376,Alright . um I live in not especially cool Spr...,468,0.743505,0.780793,"[[-0.052043304, -0.0024082442, 0.02292847, -0...."
12630,um So I was born and raised in South Washingto...,966,0.779373,0.773426,"[[0.0024098426, -0.009969322, 0.00088179496, 0..."
13493,Mhm . I'm a thirty five year old man who uh um...,134,0.774084,0.737225,"[[-0.029653292, -0.024546375, 0.009476498, 0.0..."

In [ ]:
ineff50['t5_sent_emb'] = ineff50['content'].apply(lambda x: get_sent_emb(x.split('.')))

for i in ineff50.index:
    for idx, sent in enumerate(ineff50['t5_sent_emb'][i]):
        temp_foc = []
        temp_soc = []
        try:
            temp_foc.append(get_cos_sent(sent, ineff50['t5_sent_emb'][i][idx+1]))
            ineff50['t5_foc'][i] = np.average(temp_foc)

            temp_soc.append(get_cos_sent(sent, ineff50['t5_sent_emb'][i][idx+2]))
            ineff50['t5_soc'][i] = np.average(temp_soc)
        except IndexError:
            continue

ineff50.to_csv(result + 'simulation_HV_ineff_vb_response_deid_50v3_t5sent.csv')
ineff50.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

,content,n_words,t5_foc,t5_soc,t5_sent_emb
grid,,,,,
10455,"I'm a young man , an en an en- an engineer by ...",421,0.739292,0.713181,"[[-0.01830085, -0.033166442, -0.012217038, 0.0..."
11689,We have been using that opportunity to do more...,159,0.745361,0.699353,"[[0.0027493043, 0.026583686, -0.0025797854, 0...."
12376,Alright . um I live in not especially cool Spr...,468,0.735747,0.780793,"[[-0.052043315, -0.0024082293, 0.022928476, -0..."
12630,"My is things are fantastic . No , I mean My uh...",966,0.779373,0.773426,"[[-0.019813254, -0.025315434, 0.019716498, 0.0..."
13493,Mhm . I still get to play . And my stock inves...,134,0.747774,0.719471,"[[-0.029653301, -0.024546377, 0.009476494, 0.0..."

# Clinical factors

In [ ]:
Rfolder = '/Users/yancong/Desktop/4 clinical/02 projects_parsely/05 ssd-lm-stanglab/13 remora_lpop_aces/data_analysis/T5_LongText/'
tlc = pd.read_csv('/Users/yancong/Desktop/4 clinical/00 Project Files/crossdx_clin.csv', index_col=0)
tlc = tlc[['grid', 'SSDvHC', 'group', 'tlc_01povspeech', 'tlc_02povcontent',	'tlc_03pressure',	'tlc_04distract',
	'tlc_05tangent', 'tlc_06derail', 'tlc_07incoh',	'tlc_08illogic',	'tlc_09clang',	'tlc_10neologism',
    	'tlc_11wordapprox',	'tlc_12circum',	'tlc_13lossgoal',	'tlc_14persev',	'tlc_15echo',	'tlc_16block',
        	'tlc_17stilt',	'tlc_18selfref', 'tlc_3f_inefficient',	'tlc_3f_incoherent',	'tlc_3f_impexpress']]
tlc.head()

,grid,SSDvHC,group,tlc_01povspeech,tlc_02povcontent,tlc_03pressure,tlc_04distract,tlc_05tangent,tlc_06derail,tlc_07incoh,...,tlc_12circum,tlc_13lossgoal,tlc_14persev,tlc_15echo,tlc_16block,tlc_17stilt,tlc_18selfref,tlc_3f_inefficient,tlc_3f_incoherent,tlc_3f_impexpress
1,10308,1.0,SSD,0,1,0,0,0,0,0,...,0,0,1,0,0,2,0,-0.406404,-0.069358,-0.018896
2,10311,0.0,HC,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,-0.713934,-0.463481,0.197262
3,10316,1.0,SSD,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,-0.687947,-0.387319,-0.710348
4,10455,0.0,HC,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,-0.687947,-0.387319,-0.710348
5,10582,1.0,SSD,0,0,0,1,0,1,0,...,1,1,0,0,0,0,0,-0.059923,-0.107333,-0.458561

In [ ]:
vb = pd.read_csv('T5_LongText_3df_open_vb_sent.csv', index_col=0)
vb.columns

Index(['grid', 'n_tokens', 'content', 'study', 'group', 'SSDvHC', 't5_foc',
       't5_soc', 't5_sent_emb'],
      dtype='object')

In [ ]:
vb.drop(['n_tokens', 'content', 't5_sent_emb'], axis=1, inplace=True)
vb['grid'] = vb['grid'].astype(str)
final_gt = pd.merge(vb, tlc, on=['grid', 'group', 'SSDvHC'])
final_gt.head()

,grid,study,group,SSDvHC,t5_foc,t5_soc,tlc_01povspeech,tlc_02povcontent,tlc_03pressure,tlc_04distract,...,tlc_12circum,tlc_13lossgoal,tlc_14persev,tlc_15echo,tlc_16block,tlc_17stilt,tlc_18selfref,tlc_3f_inefficient,tlc_3f_incoherent,tlc_3f_impexpress
0,5195,lpop,SSD,1,0.873394,0.819293,1,2,1,0,...,2,2,3,0,0,0,0,2.278186,0.675166,0.544449
1,6798,aces,SSD,1,0.757976,0.760624,0,3,3,1,...,1,1,1,0,0,0,2,2.365560,1.094802,-0.313254
2,9202,aces,SSD,1,0.872512,0.872062,0,1,0,0,...,0,0,0,0,0,0,0,-0.528266,-0.136307,0.037839
3,9394,Remora,HC,0,0.878456,0.776307,0,0,1,0,...,0,0,0,0,0,0,0,-0.141396,-0.553826,-0.859843
4,10308,Remora,SSD,1,0.868106,0.804485,0,1,0,0,...,0,0,1,0,0,2,0,-0.406404,-0.069358,-0.018896

In [ ]:
final_gt.to_csv(Rfolder + 'T5_sent_LongText_open_3df_vb.csv')

In [ ]:
clean = pd.read_csv('T5_LongText_3df_open_clean_sent.csv', index_col=0)
clean.drop(['n_tokens', 'content', 't5_sent_emb'], axis=1, inplace=True)
clean['grid'] = clean['grid'].astype(str)
final_gt = pd.merge(clean, tlc, on=['grid', 'group', 'SSDvHC'])
final_gt.head()

,grid,study,group,SSDvHC,t5_foc,t5_soc,tlc_01povspeech,tlc_02povcontent,tlc_03pressure,tlc_04distract,...,tlc_12circum,tlc_13lossgoal,tlc_14persev,tlc_15echo,tlc_16block,tlc_17stilt,tlc_18selfref,tlc_3f_inefficient,tlc_3f_incoherent,tlc_3f_impexpress
0,5195,lpop,SSD,1,0.785576,0.745804,1,2,1,0,...,2,2,3,0,0,0,0,2.278186,0.675166,0.544449
1,6798,aces,SSD,1,0.805444,0.823734,0,3,3,1,...,1,1,1,0,0,0,2,2.365560,1.094802,-0.313254
2,9202,aces,SSD,1,0.774414,0.760726,0,1,0,0,...,0,0,0,0,0,0,0,-0.528266,-0.136307,0.037839
3,9394,Remora,HC,0,0.774456,0.772312,0,0,1,0,...,0,0,0,0,0,0,0,-0.141396,-0.553826,-0.859843
4,10308,Remora,SSD,1,0.745631,0.751368,0,1,0,0,...,0,0,1,0,0,2,0,-0.406404,-0.069358,-0.018896

In [ ]:
final_gt.to_csv(Rfolder + 'T5_sent_LongText_open_3df_clean.csv')

In [ ]:
nosw = pd.read_csv('T5_LongText_3df_open_nosw_sent.csv', index_col=0)
nosw.drop(['n_tokens', 'content', 't5_sent_emb'], axis=1, inplace=True)
nosw['grid'] = nosw['grid'].astype(str)
final_gt = pd.merge(nosw, tlc, on=['grid', 'group', 'SSDvHC'])
final_gt.head()

,grid,study,group,SSDvHC,t5_foc,t5_soc,tlc_01povspeech,tlc_02povcontent,tlc_03pressure,tlc_04distract,...,tlc_12circum,tlc_13lossgoal,tlc_14persev,tlc_15echo,tlc_16block,tlc_17stilt,tlc_18selfref,tlc_3f_inefficient,tlc_3f_incoherent,tlc_3f_impexpress
0,5195,lpop,SSD,1,0.862487,0.783350,1,2,1,0,...,2,2,3,0,0,0,0,2.278186,0.675166,0.544449
1,9202,aces,SSD,1,0.872062,0.872062,0,1,0,0,...,0,0,0,0,0,0,0,-0.528266,-0.136307,0.037839
2,9394,Remora,HC,0,0.823553,0.787810,0,0,1,0,...,0,0,0,0,0,0,0,-0.141396,-0.553826,-0.859843
3,10308,Remora,SSD,1,0.761165,0.780620,0,1,0,0,...,0,0,1,0,0,2,0,-0.406404,-0.069358,-0.018896
4,10311,Remora,HC,0,0.850345,0.805144,1,0,0,0,...,0,0,0,0,0,0,0,-0.713934,-0.463481,0.197262

In [ ]:
final_gt.to_csv(Rfolder + 'T5_sent_LongText_open_3df_nosw.csv')